# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Pytest
.pytest_cache/

# Environment / secrets
.env

# Coverage files
.coverage
htmlcov/

# Python build artifacts
build/
dist/
*.egg-info/

# Windows event telemetry
*.evtx
